/*  # id
	. clase
	  etiqueta
*/

body{
	background-color: turquoise;
}

body:inactive{
	background-color: grey;
}

div.centrar {
	width: 50%;
	margin: 0 auto;
}

div.titulo {
	padding: 10px;
	font-family: "Impact";
	font-size: 20px;
	
}

div.titulo:hover{
	color: red;
}

div.pie {
	font-family: "Times New Roman";
	font-size: 11px;
	padding-top: 15px;
	position: bottom;
}

#btNewGame {
	font-family: "Comic Sans MS";
	font-size: 16px;
	margin: 0 auto;
	width: 50%;
	padding: 5px;
}

#tablero {
	clear: both;
}

table, tr, th{
	border: 2px solid black;
	font-size: 72px;
}

tr, th {
	padding: 80px;
	height: 70px;
	width: 70px;
	background-color: white;
	float: center;
}