/*  # id
	. clase
	  etiqueta
*/

body {
	background-color: #66AA22;
}

div.centrar {
	width: 50%;
	margin: 0 auto;
}

div.titulo {
	padding: 10px;
	font-family: "Impact";
	font-size: 20px;
}

div.titulo:hover {
	color: red;
}

div.pie {
	font-family: "Times New Roman";
	font-size: 11px;
	padding-top: 15px;
	position: bottom;
	margin-left:30px;
}

#btNewGame {
	font-family: "Comic Sans MS";
	font-size: 16px;
	margin: 0 auto;
	width: 50%;
	padding: 5px;
	margin-left: 8%;
	margin-top: 5%;
}

#btNewGame:hover{
	background-color: #CC2244;

}

#tablero {
	clear: both;
}

table, tr, th {
	border: 2px solid black;
	
}

tr, th {
	padding: 70px;
	height: 40px;
	width: 60px;
	background-color: white;
	float: center;
	font-size: 40px;
}